[submodule "rely/hiredis"]
	path = rely/hiredis
	url = ../hiredis.git
[submodule "rely/libevent"]
	path = rely/libevent
	url = ../libevent.git
[submodule "rely/FluentUI-Pro"]
	path = rely/FluentUI-Pro
	url = ../FluentUI-Pro.git
[submodule "rely/spdlog"]
	path = rely/spdlog
	url = ../spdlog.git
[submodule "rely/json"]
	path = rely/json
	url = ../json.git
[submodule "rely/rtklib"]
	path = rely/rtklib
	url = ../rtklib-2.4.3b34.git
[submodule "rely/yaml-cpp"]
	path = rely/yaml-cpp
	url = ../yaml-cpp.git
[submodule "rely/abseil-cpp"]
	path = rely/abseil-cpp
	url = ../abseil-cpp.git
[submodule "rely/protobuf"]
	path = rely/protobuf
	url = ../protobuf.git
